{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {# {{form(last_username)}} #}
    {# {{ include('flashes/_flash.html.twig') }} #}
    <div class="wrapper">
        <h2>Login</h2>
        {% if errors %}
            <div class="alert alert-danger ">{{ errors.messageKey }}<div>
        {% endif %}

        <form class="bg-light px-4 py-4 login" action="{{ path('login') }}" method="post">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="username">Email</label>
                    <input class="form-control mb-3" placeholder="email" type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control mb-3" placeholder="password" type="password" id="password" name="_password">
                </div>
            </div> 
            <input type="hidden" name="home" value="/">
            <div class="row">
                <div class="col">
                    <button class="btn btn-info" type="submit">Login</button>
                </div>
            </div> 
        </form>
    </div>
{% endblock %}
