{% extends 'base.html.twig' %}

{% block title %}Hello IncidentController!{% endblock %}

{% block body %}

{{ include('flashes/_flash.html.twig') }}
   
<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Priority</th>
            <th>State</th>
            <th>Start date</th>
            <th>Finish date</th>
            <th>Assigned to</th>
            <th>Observations</th>
            <th>Files</th>
            <th>Modify </th>
            <th>Remove Incident</th>
        </tr>
    </thead>
    <tbody>
    {% for incident in incidents %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>{{ incident.description }}</td>
            <td>{{ incident.priority }}</td>
            <td>
            {% if incident.state == 'open' %}
                <p class="text-success">{{ incident.state }}</p>
            {% else %}
                <p class="text-danger">{{ incident.state }}</p>
            {% endif %}
            </td>
            <td>{{ incident.startDate|date }}</td>
            <td>
            {% if incident.finishDate %}
                {{ incident.finishDate|date }}
            {% else %}
                - -
            {% endif %}
            </td>
            <td>{{ incident.assigned }}</td>
            <td>{{ incident.observations }}</td>

            <td>
            {% if incident.brochureFilename %}
                <a href="{{ asset('uploads/brochures/' ~ incident.brochureFilename) }}">View PDF</a>

                <a href="{{ path('download_incident', {id:incident.id})}}">Download</a>
            {% else %}
                <p>No files attached</p>
            {% endif %}
            {# {{incident.brochureFilename}}
            <a href="{{ asset('uploads/brochures/Guerrero-Aplicacion-Web-desarrollada-en-PHP-usando-el-Framework-Symfony-65a94f67b1ff3.pdf') }}">View brochure (PDF)</a> #}
            </td>
            <td>
                <a class="link-secondary link-underline-opacity-0" href="{{path('update_incident', {id:incident.id} )}}">
                Edit <i class="fa-regular fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <a class="link-danger link-underline-opacity-0" href="{{path('delete_incident', {id:incident.id} )}}">
                   Delete <i class="fa-regular fa-trash-can"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
