<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
        {% endblock %}

    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="{{path('incident')}}" class="navbar-brand">
                        CRM
                    </a>    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-targett">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="my-targett">
                        
                            <ul class="navbar-nav ms-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{path('incident')}}">Incidents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('create_incident')}}">New Incident</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{path('users')}}">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('register')}}">Register new user</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('login')}}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('logout')}}">Logout</a>
                                </li>
                            </ul>
                        
                    </div>
                </div>
            </nav>
        {% endblock %}

    {# <div class=class="wrapper"> #}
        <div class="container body-container">
            {% block body %}{% endblock %}
       </div>
    {# </div> #}
        {% block footer %}{% endblock %}
    </body>
</html>
