<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} CRM {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
        {% endblock %}

    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="{{path('incident')}}" class="navbar-brand">
                        CRM
                    </a>    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-targett">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse pe-4" id="my-targett">
                        
                            <ul class="navbar-nav ms-auto">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                <li class="nav-item dropdown me-lg-3">
                                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                                        Incidents
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li>
                                            <a class="dropdown-item" href="{{path('incident')}}">View all tickets</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{{path('create_incident')}}">Add Ticket</a>
                                        </li>
                                    </ul>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item dropdown ">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                                            Users
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li>
                                                <a class="dropdown-item" href="{{path('users')}}">Manage Users</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{path('register')}}">Add New User</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown ms-lg-3">
                                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                                        {{app.user.name}}
                                    </button>
                                    <ul class="dropdown-menu  dropdown-menu-dark">
                                        <li>
                                            <a class="dropdown-item" href="{{path('logout')}}">Logout</a>
                                        </li>  
                                                
                                        <li>
                                            <a class="dropdown-item" href="{{path('settings')}}">Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('login')}}">Login</a>
                                </li>
                            {% endif %}
                            </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="body-container">
            {% block body %}
                
            
            {% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
