{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}

{{ include('flashes/_flash.html.twig') }}
    
<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.roles[0] }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{{path('delete_user', {id:user.id} )}}">Delete</a>
            
                <a href="{{path('update_user', {id:user.id} )}}">Update</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
